* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 600px;
  height: 40vh;
  padding: 10px;
  background-color: rgb(241, 197, 243);
  display: flex;
  text-align: left;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

.form input {
  flex-grow: 1;
}

.form button {
  width: 60px;
  margin-left: 10px;
  background-color: aquamarine;
  background-image: linear-gradient(
    to top left,
    #d3f7f2 0%,
    #b9ffe9 36%,
    aquamarine 100%
  );
}

.form.form--small {
  padding-right: 10px;
  max-width: 185px;
}

.form.form--small input {
  max-width: 110px;
}

.scrollable {
  overflow-y: scroll;
  flex-grow: 1;
}

article,
aside {
  display: flex;
  flex-direction: column;
}

article {
  width: 390px;
}

aside {
  width: 210px;
}

.username {
  font-size: 16px;
  background: rgb(254, 233, 255);
  margin-right: 10px;
  padding: 5px;
  margin-bottom: 10px;
  max-width: 180px;
  height: 28px;
  overflow: hidden;
}

.newStyleButton,
button,
input {
  background: rgb(216, 253, 186);
  border: none;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
}

.newStyleButton {
  /*кнопки для чата и истории*/
  background-color: aquamarine;
  background-image: linear-gradient(
    to top left,
    #d3f7f2 0%,
    #b9ffe9 36%,
    aquamarine 100%
  );
  border: 1px dashed #ff30f5;
}

.line {
  border-left: 2px solid #ccc; /* Параметры линии */
  margin-left: 20px; /* Отступ слева */
  padding-left: 10px; /* Расстояние от линии до текста */
}
